createdAt: "2018-05-15T15:47:36.397Z"
updatedAt: "2018-05-15T15:48:06.553Z"
type: "MARKDOWN_NOTE"
folder: "067005f05ee1bfb8ce38"
title: "役に立ちそうなやつ"
content: '''
  役に立ちそうなやつ
  
  [JJUG CCC 2017 Fall ( #jjug_ccc ) - セッション資料の一覧 - 地平線に行く](http://d.hatena.ne.jp/chiheisen/20171119/1511042292)
  [DBのTCPプロトコルとJDBC - Google スライド](https://docs.google.com/presentation/d/1xSwS73_iTPyMKdtXUUiwawJ05XaS-gFRkOeYLgu8mLI/edit#slide=id.g2855f99e42_0_17)
'''
tags: []
isStarred: false
isTrashed: false
