createdAt: "2018-05-15T15:46:55.342Z"
updatedAt: "2018-05-15T15:47:02.263Z"
type: "MARKDOWN_NOTE"
folder: "1573d0fabccb47bc519b"
title: "型安全"
content: '''
  型安全
  
  [型安全性入門](https://www.slideshare.net/AkinoriAbe1/ss-74534932)
'''
tags: []
isStarred: false
isTrashed: false
