createdAt: "2018-05-15T00:38:00.729Z"
updatedAt: "2018-05-15T10:28:09.758Z"
type: "MARKDOWN_NOTE"
folder: "8196dfea92bae5ea95b1"
title: "tmux: よく使うやつ"
content: '''
  # tmux: よく使うやつ
  
  ```
  # セッション起動
  tmux
  tmux new -s [セッション名]
  
  # セッション確認
  tmux ls
  
  # 接続クライアントの一覧
  tmux lsc
  
  # セッション再開
  tmux a -t [セッション名]
  
  # セッション名前変更
  tmux rename -t [変更前名前] [変更後名前]
  
  # セッション終了
  tmux kill-session -t [セッション名]
  
  # tmux全体を終了
  tmux kill-server
  ```
  
  ### prefix
  
  `Ctrl - b`
  
  #### 基本
  
  ```
  ?     # キーバインド一覧
  :     # コマンドプロンプト
  ```
  
  #### セッション操作
  
  ```
  s           # セッションの一覧選択
  d           # セッションからの離脱（デタッチ）
  $           # セッションの名前変更
  ^z          # tmuxを一時中断
  ```
  
  #### ウィンドウ操作
  
  ```
  c     # 新規ウィンドウ作成
  w     # ウィンドウの一覧選択
  0-9   # 指定番号のウィンドウへ
  &     # ウィンドウ破棄
  n     # 次のウィンドウへ
  p     # 前のウィンドウへ
  l     # 以前のウィンドウへ
  '     # 入力番号のウィンドウへ移動
  .     # 入力番号にウィンドウ番号を変更
  ,     # ウィンドウの名前変更
  f     # ウィンドウの検索
  ```
  
  #### ペイン操作
  
  ```
  %         # 左右に分割
  "         # 上下に分割
  q         # ペイン番号を表示
  カーソル    # 指定方向のペインへ移動 連続で押せる
  ^カーソル   # ペインのサイズ変更
  !         # ペインをウィンドウ化
  x         # ペインの破棄
  o         # ペインを順に移動
  ;         # 以前のペインへ移動
  z         # 
  ```
  
  ## hoge
  
  ``
  ```
'''
tags: [
  "tmux"
  "備忘録"
]
isStarred: false
isTrashed: false
isPinned: true
