createdAt: "2018-05-14T14:17:52.553Z"
updatedAt: "2018-05-15T14:17:02.473Z"
type: "SNIPPET_NOTE"
folder: "a6e537ab7f03cc49af0c"
title: "標準入力"
description: "標準入力"
snippets: [
  {
    name: "複数行"
    mode: "text"
    content: '''
      val in = io.Source.formInputStream(System.in).getLines()
      for(line <- in.next()) {
        
      }
    '''
  }
  {
    name: "一行空白"
    mode: "Plain Text"
    content: '''
      val in = io.StdIn.readLine()
      val Array(a, b, c, d) = in.split(' ')
    '''
  }
]
tags: [
  "scala"
  "標準入力"
]
isStarred: false
isTrashed: false
isPinned: true
