createdAt: "2018-05-15T00:43:56.042Z"
updatedAt: "2018-05-15T00:45:25.031Z"
type: "MARKDOWN_NOTE"
folder: "8196dfea92bae5ea95b1"
title: "vim: チートシート"
content: '''
  # vim: チートシート
  
  
'''
tags: []
isStarred: false
isTrashed: true
