createdAt: "2018-05-15T14:31:54.540Z"
updatedAt: "2018-05-15T14:34:20.085Z"
type: "MARKDOWN_NOTE"
folder: "1573d0fabccb47bc519b"
title: "案"
content: '''
  案
  
  複数のお題が出される
  先に全てのテストをクリアしたほうが勝ち
  もしくは出題された問題の中から先にいくつか正解すると勝ち
  相手のコードは見れず進捗だけ見れる（何問正解したかなど
  
  
'''
tags: []
isStarred: false
isTrashed: false
