createdAt: "2018-05-15T03:02:57.057Z"
updatedAt: "2018-05-15T03:03:16.547Z"
type: "MARKDOWN_NOTE"
folder: "1573d0fabccb47bc519b"
title: "メモリ制限"
content: '''
  メモリ制限
  
  -mem 1024
'''
tags: [
  "scala"
]
isStarred: false
isTrashed: false
