createdAt: "2018-05-15T15:57:59.530Z"
updatedAt: "2018-05-15T15:58:09.557Z"
type: "MARKDOWN_NOTE"
folder: "e2766da9c6c1b0f60155"
title: "JS知見"
content: '''
  JS知見
  
  [JavaScriptのプロトタイプからオブジェクト指向を学ぶ - Qiita](https://qiita.com/takeharu/items/809114f943208aaf55b3)
'''
tags: []
isStarred: false
isTrashed: false
