createdAt: "2018-05-19T07:37:24.279Z"
updatedAt: "2018-05-22T03:04:01.472Z"
type: "MARKDOWN_NOTE"
folder: "e2766da9c6c1b0f60155"
title: "webpack/babel - 2018-05"
content: '''
  # webpack/babel - 2018-05
  
  ```
  mkdir sample-app && cd sample-app
  yarn init
  yarn add webpack webpack-cli babel-core babel-loader babel-preset-env --dev
  touch webpack.config.js .babelrc
  mkdir src dist
  ```
  
  ```:package.json
  {
    "name": "sample-app",
    "version": "1.0.0",
    "description": "sample",
    "main": "dist/main.js",
    "repository": {
      "type": "git",
      "url": "git+https://github.com/sobreera/sample-app.git"
    },
    "author": "Arashi Uno",
    "license": "MIT",
    "private": true,
    "scripts": {
      "dev": "webpack --mode development",  // Minifyされない
      "build": "webpack --mode production", // Minifyされる
      "watch": "webpack -w"
    },
    "devDependencies": {
      "webpack": "^4.8.3",
      "webpack-cli": "^2.1.3",
      "babel-core": "^6.26.3",
      "babel-loader": "^7.1.4",
      "babel-preset-env": "^1.7.0"
    }
  }
  ```
  
  ```:webpack.config.js
  module.exports = {
    // context指定した場合、entryはcontextからの相対パスで良い: './index.js'
    // context: __dirname + '/src',
    entry: {
      objective_canvas: './src/index.js'
    },
    output: {
      filename: '[name].js',
      path: __dirname + '/dist',
      publicPath: '/'
    },
    module: {
      rules: [
        {
          test: /\\.js$/,
          // これでもいける
          // use: 'babel-loader',
          use: [
            {
              loader: 'babel-loader',
              options: {
                presets: [
                  // TreeShakingの恩恵を受けるためにmodulesをfalseにしてやる必要がある。
                  // これをしてないとbabel側でCommonJSに変換される。
                  ['env', {'modules': false}]
                ]
              }
            }
          ],
          // node_modulesは除外
          // exclued: /node_modules/
        }
      ]
    }
  }
  ```
  
  ```:.bablrc
  {
    "presets": ["env"]
  }
  ```
  
  runはなくていい
  ```:zsh
  yarn run build
  ```
  
  ## 参考になりそうな
  
  [最新版で学ぶwebpack 4入門 - BabelでES2017環境の構築(React, Vue, Three.js, jQueryのサンプル付き) - ICS MEDIA](https://ics.media/entry/16028)
  [webpackでnode_modulesをbabel-loaderの対象から除外すると、ES2015+で書かれたnpmパッケージのモジュールがBabelで変換されない問題 - Qiita](https://qiita.com/yassh/items/b939f76f6a6442ebeb26)
  [GitHub - mizchi-sandbox/frontend-base](https://github.com/mizchi-sandbox/frontend-base)
  
'''
tags: [
  "babel"
  "front"
  "webpack"
]
isStarred: false
isTrashed: false
