createdAt: "2018-05-15T14:14:54.647Z"
updatedAt: "2018-05-15T14:15:21.279Z"
type: "MARKDOWN_NOTE"
folder: "20bec3ae2f36a059130e"
title: "圏論"
content: '''
  # 圏論
  
  
'''
tags: []
isStarred: false
isTrashed: false
