createdAt: "2018-05-15T15:18:20.422Z"
updatedAt: "2018-05-15T15:18:36.365Z"
type: "MARKDOWN_NOTE"
folder: "e2766da9c6c1b0f60155"
title: "サービス"
content: '''
  # サービス
  
  Glitch
  [[Node.js] 無料で簡単にウェブアプリを公開できるサービス「Glitch」を使ってみた！ - Qiita](https://qiita.com/yonedaco/items/569bcc442872a1f9a03d)
'''
tags: []
isStarred: false
isTrashed: false
