createdAt: "2018-05-25T21:38:48.162Z"
updatedAt: "2018-05-25T21:46:40.765Z"
type: "MARKDOWN_NOTE"
folder: "1573d0fabccb47bc519b"
title: "用語"
content: '''
  # 用語
  
  - spine.js
  - Minikube / k8s
'''
tags: []
isStarred: false
isTrashed: false
