createdAt: "2018-05-14T09:08:32.048Z"
updatedAt: "2018-05-14T09:08:44.784Z"
type: "MARKDOWN_NOTE"
folder: "f45813ba065419aa5b3c"
title: "型とバトルしよう"
content: '''
  # 型とバトルしよう
  
  
'''
tags: []
isStarred: false
isTrashed: false
