createdAt: "2018-05-15T14:16:41.466Z"
updatedAt: "2018-05-15T14:16:48.025Z"
type: "MARKDOWN_NOTE"
folder: "86934840a8c1c18b68ad"
title: "kotlin入門"
content: "# kotlin入門"
tags: []
isStarred: false
isTrashed: false
