createdAt: "2018-05-15T15:23:10.364Z"
updatedAt: "2018-05-15T15:25:11.522Z"
type: "MARKDOWN_NOTE"
folder: "1573d0fabccb47bc519b"
title: "prezi"
content: '''
  prezi
  gitpitch
'''
tags: []
isStarred: false
isTrashed: false
